@import '../variables';

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 1;
  height: $header_height;
  width: 100%;
  background-color: $teal_medium;
  color: white;
  padding: $header_padding;
  box-shadow: $box_shadow;

  .header__title {
    font-size: $size_24pt;
  }
}
