@import '../variables';

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: $header_height;
  width: 100%;
  background-color: $teal_medium;
  color: white;
  padding: $header_padding;

  .header__title {
    font-size: $size_24pt;
  }

  .header__topics {
    list-style-type: none;

    li {
      font-size: $size_16pt;
      display: inline-block;
      margin: 0 10px;
    }
  }
}
