@import "../variables";

.panel {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid $light_gray_2;

  .panel__header {
    padding: $header_padding;
    color: $teal_strong;
    background-color: $light_gray_1;
    border-color: $light_gray_2;
  }

  .panel__body {
    padding: $header_padding;
    text-align: center;

    img, video {
      max-width: 100%;
    }
  }

  .panel__footer {
    padding: $header_padding;
    color: $dark_gray_2;
    background-color: $light_gray_1;
    border-top: 1px solid $light_gray_2;
  }

  .comments__header {
    margin: 20px 0;
    padding: 0 $header_padding;
    color: $teal_strong;
  }

  .comments__body {
    list-style-type: none;
    padding: 0 16px;
  }

  .comments__box {
    position: relative;
    display: block;
    padding: 10px 16px;
    color: $teal_strong;
    background-color: white;
    border: 1px solid $light_gray_2;
    border-top: 0;

    &:first-child {
      border-top: 1px solid $light_gray_2;
    }

    h4 {
      margin-bottom: 10px;
    }
  }

  .comments__comment {
    color: $dark_gray_2;
  }

  .comments__badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: $size_12pt;
    font-weight: 700;
    line-height: 1;
    color: white;
    background-color: $teal_strong;
    border-radius: 10px;
    float: right;
  }
}
