// typography
$size_12pt: 1.2rem; // 12 px
$size_14pt: 1.4rem; // 14px
$size_16pt: 1.6rem; // 16px
$size_18pt: 1.8rem; // 18px
$size_20pt: 2rem;   // 20px
$size_24pt: 2.4rem; // 24px
$size_30pt: 3rem;   // 30px
$size_36pt: 3.6rem; // 36px
$size_48pt: 4.8rem; // 48px
$base_line_height: 1.2;

// colors
$teal_strong: #00695C;
$teal_medium: #009688;
$teal_light: #E0F2F1;
$teal_300: #4DB6AC;
$light_grey: #ddd;

// sizes
$header_height: 56px;
$header_padding: 16px;

// mq breakpoints
$screen_small: 400px;
$screen_medium: 760px;
$screen_larger: 1200px;

// others
$box_shadow: 0 3px 6px rgba(0,0,0, 0.12), 0 3px 6px rgba(0,0,0, 0.24);
